.card-artist {
  background-color: rgba(160, 160, 160, 0.342);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 0.3rem;
  position: relative;
  transition: all 0.45s;
  cursor: pointer;
  padding: 1rem;
  margin: 15px 0;
}

.card-artist .img-holder {
  width: 100%;
}

.card-artist .img-holder img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.card-artist .text-name {
  margin-top: 1rem;
  line-height: 1;
  width: 100%;
}

.card-artist .text-name h2 {
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.card-artist .text-artist {
  margin-top: 5px;
  line-height: 1;
  width: 100%;
}

.card-artist .text-artist div {
  font-size: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.card-artist .play-icon {
  position: absolute;
  top: 45%;
  right: 12%;
  transform: translateY(10px);
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.4));
  opacity: 0;
  transition: all 0.4s;
}

.card-artist:hover .play-icon {
  opacity: 1;
  transform: translateY(0);
  filter: brightness(100%);
}

.card-artist:hover{
  filter: brightness(75%);
}