.card-music {
  background-color: rgba(160, 160, 160, 0.342);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 0.3rem;
  position: relative;
  transition: all 0.45s;
  cursor: pointer;
  padding: 1rem;
  margin: 15px 0;
}

.card-music .img-holder {
  width: 100%;
}

.card-music .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.card-music .text-name {
  margin-top: 1rem;
  line-height: 1;
  width: 100%;
}

.card-music .text-name h2 {
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.card-music .text-artist {
  margin-top: 5px;
  line-height: 1;
  width: 100%;
}

.card-music .text-artist div {
  font-size: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.card-music:hover{
  filter: brightness(75%);
}