.playlist-item > img {
  height: 100%;
}

.playlist-item {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  background-color: #dfe6e9;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-active {

}

.playlist-item-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orther-name-img img {
  height: 100%;
  border-radius: 5px;
}

.playlist-item-info-name {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlist-item-song {
  font-size: 1.3rem;
  color: #2d3436;
  font-weight: 500;
}

.playlist-item-artist {
  font-size: 18px;
  color: #2d3436;
}

.orther-name-img {
  display: flex;
  width: 100%;
  height: 100%;
}

.playlist-item-info span {
  color: #2d3436;
  font-size: 17px;
  font-weight: 600;
  margin-right: 20px;
}
