@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.main {
  display: flex;
}

.main-right {
  margin-left: 15%;
  width: 85%;
}

.history-page,
.search-page,
.artist-info-songplay-page,
.artist-info-song-page,
.music-page,
.albums-info-page,
.albums-page,
.artist-page,
.home-page {
  margin-top: 60px;
  padding: 20px;
}